<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../static/style.css">
    <title>Customer's Review App &dash; Home PAge</title>
</head>
<body>
    
    <div class="main-div">

        <div class="nav">
    
            <a href="/"><p class="nav-item">Submit Review</p></a>
            <a href="/reviews"><p class="nav-item">Read Reviews</p></a>
     
        </div>
    
        <div class="main-container">
        <form action="?" method="POST">
    
            <label>Name: </label><br> <input name="name" type="text"> <br><br>
            <label>Review: </label><br> <textarea name="review"></textarea> <br><br>
            <input type="submit" class="submit" value="Submit Review">
    
        </form>
    
        </div>
    
        <div class="main-container">
    
        <br>
        <i><h1> Customer's Review App </h1></i>
        </div>
    
</body>
</html>